<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <div class="IndexMaindiv">
         <header>
           <div id="menu">    
                   <table width="100%" border="0" >
                    <tr height="60px">
                        <td width="60%" ><p style="margin-left: 10%;">P O R T F O I L I O</p></td>
                        <td width="10%" ><a href="/">HOME</a></td>
                        <td width="10%"><a href="/projects">PROJECTS</a></td>
                        <td width="10%" ><a href="/about">ABOUT</a></td>
                        <td width="10%"><a href="/contactme">CONTACT ME</a></td>
                    </tr>
                </table>
            </div>
        </header>

    <div class="IndexaboutMe" style="color:white">
                <table>
                    <tr align="center">
                        <td width="50%" style="padding:5%;">
                            <p>
                                Hello, I am Shbnam Patel. I have keen Interest 
                                in Computer science from very young age. After Joining college
                                I got know that I am Interesteed in Web designing. I like to design 
                                website.
                                <p><img src="./images/location.png" height="40px" width="30px"></p><p>&nbsp;Ontario, CA</p>
                            </p>
                        </td>
                        <td>
                             
                            <img src="./images/shabnam_1.JPG" height="450px" width="450px">
                            
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        </br>
       
        <footer>
           <div class="IndexMaindiv" style="height: 220px;width:100%">
                <div>
                    </br>
                    <center><p><a href="/projects">PROJECTS</a></p>
                    <p><a href="/contactme">CONTACT ME</a></p>
                    <p><a href="/about">ABOUT</a></p>
                    </center>
                </div>
                <table align="center" style="width: 95%;" border="0">
                     <tr align="right">
                        <td colspan="2">
                            <a href="https://accounts.google.com/"><img src="./images/email.jpg" height="30px" width="35px"></a>&nbsp;
                            <a href="https://github.com/ShabnamPatel786"><img src="./images/github.png" height="30px" width="40px"></a>&nbsp;
                            <a href="https://www.instagram.com/"><img src="./images/instagram.png" height="30px" width="35px"></a>&nbsp;
                            <a href="https://www.linkedin.com/in/shabnam-patel-010601212/"><img src="./images/linkdin.png" height="30px" width="35px"></a>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td><p>© 2021 by Shabnam Patel</p></td>
                        <td align="right">Privacy Policy | Terms & Condition</td>
                    </tr>   
                </table>
            </div>
        </footer> 

  </body>
</html>
