<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' href='/stylesheets/stylecontact.css' />
    <title>{{title}}</title>
    
  </head>
  <body>
      <header>
         <div style="background-color: black; color:white;">
                <table width="100%" border="0" >
                    <tr height="60px">
                        <td width="60%" ><p style="margin-left: 10%;">P O R T F O I L I O</p></td>
                        <td width="10%" align="center"><a href="/">HOME</a></td>
                        <td width="10%" align="center"><a href="/projects">PROJECTS</a></td>
                        <td width="10%" align="center"><a href="/about">ABOUT</a></td>
                        <td width="10%"align="center"><a href="/contactme">CONTACT ME</a></td>
                    </tr>
                </table>
            </div>
        </header>
<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_form_on_image-->
        <div class="bg-img" style="background-image: url('./images/hi.jpg');">
        <form class="container">
           <center><h1>CONTACT ME</h1></center> 

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="msg"><b>Your Message</b></label>
            <textarea name="msg">Enter Your Message</textarea>

            <button type="submit" class="btn">SUBMIT</button>
        </form>
        </div>
        </br>

        <footer>
          <div class="IndexMaindiv" style="height: 220px;width:100%;">
                <div>
                    </br>
                    <center><p><a href="/projects">PROJECTS</a></p>
                    <p><a href="/contactme">CONTACT ME</a></p>
                    <p><a href="/about">ABOUT</a></p>
                    </center>
                </div>
                <table align="center" style="width: 95%;" border="0">
                     <tr align="right">
                        <td colspan="2">
                            <a href="https://accounts.google.com/"><img src="./images/email.jpg" height="30px" width="35px"></a>&nbsp;
                            <a href="https://github.com/ShabnamPatel786"><img src="./images/github.png" height="30px" width="40px"></a>&nbsp;
                            <a href="https://www.instagram.com/"><img src="./images/instagram.png" height="30px" width="35px"></a>&nbsp;
                            <a href="https://www.linkedin.com/in/shabnam-patel-010601212/"><img src="./images/linkdin.png" height="30px" width="35px"></a>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td><p>© 2021 by Shabnam Patel</p></td>
                        <td align="right">Privacy Policy | Terms & Condition</td>
                    </tr>   
                </table>
            </div>
            </footer>
  </body>
</html>
